In [1]:
import os
import pandas as pd
import numpy as np

from utils.parquet_reader import *

In [2]:
from pathlib import Path

# sys.path[0] is the directory of the script that was initially run
PROJECT_ROOT = Path.cwd()
DATA_BASE_PATH = os.path.join(PROJECT_ROOT, "project_data")
PRICE_DATA_PATH = os.path.join(DATA_BASE_PATH, "price_data")
SENTIMENT_DATA_PATH = os.path.join(DATA_BASE_PATH, "sentiment_data")
TRENDS_DATA_PATH = os.path.join(DATA_BASE_PATH, "trends_data")

FUNDAMENTALS_DATA_PATH = os.path.join(DATA_BASE_PATH, "fundamentals_data")
PROFILE_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "profile")
RATIOS_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "ratios")
INCOME_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "income_statements")
BALANCE_SHEET_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "balance_sheets")
CASH_FLOW_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "cash_flows")
KEY_METRICS_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "key_metrics")
DIVIDENDS_DATA_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "dividends")

ETF_BASE_PATH = os.path.join(FUNDAMENTALS_DATA_PATH, "etf_data")
ETF_INFO_PATH = os.path.join(ETF_BASE_PATH, "info")
ETF_HOLDINGS_PATH = os.path.join(ETF_BASE_PATH, "holdings")
ETF_COUNTRIES_EXPOSURE_PATH = os.path.join(ETF_BASE_PATH, "country_exposure")
ETF_SECTOR_EXPOSURE_PATH = os.path.join(ETF_BASE_PATH, "sector_exposure")

In [3]:
inspect_all_parquet_in_directory(PRICE_DATA_PATH)

==================== Inspecting Parquet files in: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data ====================

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\AAPL.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                open      high       low     close     volume
date
2010-01-04  6.414464  6.446622  6.382907  6.431896  493729600
2010-01-05  6.449629  6.479382  6.409055  6.443017  601904800
2010-01-06  6.443016  6.468562  6.333919  6.340531  552160000
2010-01-07  6.363975  6.371489  6.282828  6.328811  477131200
2010-01-08  6.320394  6.371487  6.283128  6.370885  447610800

Tail:
                  open        high         low       close    volume
date
2025-05-27  198.300003  200.740005  197.429993  200.210007  56288500
2025-05-28  200.589996  202.729996  199.899994  200.419998  45339700
2025-05-29  203.580002  203.809998  198.509995  199.949997  51396800
2025-05-30  199.369995  201.960007  196.779999  200.850006  70819900
2025-06-02  200.279999  202.130005  200.119995  201.699997  35423300

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\ADS.DE.parquet ---
Shape: (3876, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3876 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3876 non-null   float64
 1   high    3876 non-null   float64
 2   low     3876 non-null   float64
 3   close   3876 non-null   float64
 4   volume  3876 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  31.116667  31.579812  30.891245  31.563417   953276
2010-01-05  31.969178  32.829886  31.821628  32.559380  2463075
2010-01-06  32.624957  32.842183  32.047054  32.297070  1099488
2010-01-07  32.268380  32.788902  32.063449  32.579872  1085415
2010-01-08  32.563479  32.784805  32.174112  32.461014   719621

Tail:
                  open        high         low       close  volume
date
2025-05-27  218.000000  220.699997  216.800003  220.500000  295035
2025-05-28  220.300003  220.899994  218.399994  218.500000  386501
2025-05-29  226.500000  227.699997  219.399994  220.100006  438753
2025-05-30  218.800003  221.800003  218.399994  219.500000  531662
2025-06-02  216.300003  218.100006  213.899994  218.100006  354437

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\AIR.PA.parquet ---
Shape: (3942, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3942 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3942 non-null   float64
 1   high    3942 non-null   float64
 2   low     3942 non-null   float64
 3   close   3942 non-null   float64
 4   volume  3942 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 184.8 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  11.184293  11.224237  11.104405  11.176304  2496013
2010-01-05  11.088427  11.204264  10.948624  11.140354  2700340
2010-01-06  11.152338  11.256192  11.124377  11.240214  3993940
2010-01-07  11.112395  11.395997  11.072451  11.352058  4633114
2010-01-08  11.435941  11.567756  11.348065  11.463902  2289556

Tail:
                  open        high         low       close   volume
date
2025-05-27  160.460007  163.259995  160.460007  162.199997   723948
2025-05-28  162.500000  165.759995  161.860001  162.339996  1337656
2025-05-29  164.919998  165.399994  162.479996  162.559998   611176
2025-05-30  162.539993  163.960007  162.080002  162.080002  1136818
2025-06-02  161.940002  163.000000  159.880005  162.580002   707780

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\AMZN.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
              open    high     low   close     volume
date
2010-01-04  6.8125  6.8305  6.6570  6.6950  151998000
2010-01-05  6.6715  6.7740  6.5905  6.7345  177038000
2010-01-06  6.7300  6.7365  6.5825  6.6125  143576000
2010-01-07  6.6005  6.6160  6.4400  6.5000  220604000
2010-01-08  6.5280  6.6840  6.4515  6.6760  196610000

Tail:
                  open        high         low       close    volume
date
2025-05-27  203.089996  206.690002  202.190002  206.020004  34892000
2025-05-28  205.919998  207.660004  204.410004  204.720001  28549800
2025-05-29  208.029999  208.809998  204.229996  205.699997  34650000
2025-05-30  204.839996  205.990005  201.699997  205.009995  51679400
2025-06-02  204.979996  207.000000  202.679993  206.649994  29113300

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\ASML.AS.parquet ---
Shape: (3945, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3945 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3945 non-null   float64
 1   high    3945 non-null   float64
 2   low     3945 non-null   float64
 3   close   3945 non-null   float64
 4   volume  3945 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 184.9 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  26.622131  27.089967  26.610992  27.023132  1563947
2010-01-05  26.861623  27.429711  26.800360  27.073265  1550318
2010-01-06  26.961872  27.362875  26.934025  27.362875  1133902
2010-01-07  27.234776  27.234776  26.510743  26.861620  2648723
2010-01-08  26.733524  26.828205  25.925949  25.959366  3064292

Tail:
                  open        high         low       close   volume
date
2025-05-27  655.299988  670.599976  654.299988  666.099976   501399
2025-05-28  662.799988  669.400024  659.099976  660.799988   642977
2025-05-29  675.400024  688.099976  657.000000  665.500000   570462
2025-05-30  657.000000  663.500000  653.099976  653.900024  1073415
2025-06-02  637.900024  647.900024  636.500000  646.200012   455237

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\ASWC.DE.parquet ---
Shape: (481, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 481 entries, 2023-07-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    481 non-null    float64
 1   high    481 non-null    float64
 2   low     481 non-null    float64
 3   close   481 non-null    float64
 4   volume  481 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 22.5 KB

Head:
             open   high    low  close  volume
date
2023-07-04  7.189  7.204  7.189  7.190     110
2023-07-05  7.213  7.213  7.151  7.151    3540
2023-07-07  7.078  7.111  7.061  7.061    2074
2023-07-10  7.039  7.108  7.039  7.108     100
2023-07-11  7.145  7.177  7.141  7.177      13

Tail:
              open    high     low   close  volume
date
2025-05-27  15.098  15.250  15.058  15.250  346284
2025-05-28  15.222  15.298  15.184  15.250  390736
2025-05-29  15.276  15.332  14.926  15.000  260776
2025-05-30  15.008  15.120  14.950  15.092  345358
2025-06-02  15.154  15.260  14.962  15.140  378250

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2023-07-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\BMW.DE.parquet ---
Shape: (3884, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3884 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3884 non-null   float64
 1   high    3884 non-null   float64
 2   low     3884 non-null   float64
 3   close   3884 non-null   float64
 4   volume  3884 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 182.1 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  15.761912  16.076458  15.761912  15.875841  1808170
2010-01-05  15.831263  16.054169  15.744577  16.004635  1564182
2010-01-06  16.073983  16.366237  16.029402  16.252308  2218604
2010-01-07  16.173052  16.445492  16.039308  16.395956  2026145
2010-01-08  16.512363  16.559422  16.106179  16.175528  1925894

Tail:
                 open       high        low      close   volume
date
2025-05-27  76.699997  77.300003  76.339996  76.440002   608926
2025-05-28  76.580002  79.919998  76.559998  79.739998  1583450
2025-05-29  80.360001  80.620003  78.480003  78.480003   634119
2025-05-30  78.400002  78.959999  78.099998  78.099998  1776674
2025-06-02  77.000000  77.440002  76.080002  76.199997  1019881

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\BNP.PA.parquet ---
Shape: (3942, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3942 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3942 non-null   float64
 1   high    3942 non-null   float64
 2   low     3942 non-null   float64
 3   close   3942 non-null   float64
 4   volume  3942 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 184.8 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  24.002072  24.519671  24.002072  24.485451  2334481
2010-01-05  24.485449  25.015881  24.305786  24.438395  3158216
2010-01-06  24.468343  24.588117  24.382789  24.476898  1773871
2010-01-07  24.382789  24.994498  24.335734  24.904667  6037338
2010-01-08  25.003047  25.614756  24.973104  25.494980  4284507

Tail:
                 open       high        low      close   volume
date
2025-05-27  77.160004  77.870003  77.050003  77.419998  2167272
2025-05-28  77.519997  77.910004  76.550003  76.580002  3133556
2025-05-29  77.510002  77.639999  76.669998  76.830002  1870054
2025-05-30  77.010002  77.559998  76.820000  77.139999  4022585
2025-06-02  76.800003  77.199997  76.019997  76.709999  2724245

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\CRM.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                 open       high        low      close   volume
date
2010-01-04  18.519796  18.748159  18.415544  18.571922  7906000
2010-01-05  18.480085  18.616607  18.070521  18.492496  7942400
2010-01-06  18.554548  18.616603  18.363418  18.460224  5122400
2010-01-07  18.497456  18.604192  18.254200  18.378311  4840000
2010-01-08  18.385757  18.455258  18.184698  18.405615  5510400

Tail:
                  open        high         low       close    volume
date
2025-05-27  273.170013  278.579987  270.290009  277.190002  10958000
2025-05-28  277.709991  278.809998  273.579987  276.029999  12758600
2025-05-29  263.589996  267.790009  254.500000  266.920013  28075000
2025-05-30  268.079987  269.739990  260.700012  265.369995  12388500
2025-06-02  263.109985  263.790009  259.140015  261.619995   9213500

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\CSCO.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                 open       high        low      close    volume
date
2010-01-04  15.873478  16.354093  15.807640  16.255337  59853700
2010-01-05  16.196084  16.281673  16.051241  16.182917  45124500
2010-01-06  16.156587  16.288262  16.024911  16.077581  35715700
2010-01-07  15.998572  16.176334  15.912983  16.150000  31531200
2010-01-08  16.051242  16.261924  15.965653  16.235588  39115900

Tail:
                 open       high        low      close    volume
date
2025-05-27  63.759998  63.990002  63.340000  63.750000  17429400
2025-05-28  63.889999  63.990002  63.250000  63.340000  13814500
2025-05-29  63.730000  63.740002  62.490002  63.049999  13982800
2025-05-30  62.919998  63.180000  62.299999  63.040001  25829000
2025-06-02  62.730000  63.880001  62.709999  63.849998  15816000

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\DIS.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                 open       high        low      close    volume
date
2010-01-04  27.963021  28.178121  27.420969  27.593048  13700400
2010-01-05  27.593046  27.670482  27.274698  27.524214  10307700
2010-01-06  27.446777  27.532817  27.257489  27.377945  10709500
2010-01-07  27.334925  27.412362  27.137034  27.386549   8202100
2010-01-08  27.240278  27.481191  27.128427  27.429565   7657500

Tail:
                  open        high         low       close    volume
date
2025-05-27  111.029999  112.889999  110.150002  112.360001  10201100
2025-05-28  112.199997  112.470001  111.169998  111.519997   5787900
2025-05-29  112.010002  112.260002  110.519997  112.019997   9682100
2025-05-30  112.010002  113.349998  111.370003  113.040001  12881100
2025-06-02  112.680000  113.599998  112.250000  112.949997   7546800

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\EEM.parquet ---
Shape: (3877, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3877 entries, 2010-01-04 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3877 non-null   float64
 1   high    3877 non-null   float64
 2   low     3877 non-null   float64
 3   close   3877 non-null   float64
 4   volume  3877 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 181.7 KB

Head:
                 open       high        low      close    volume
date
2010-01-04  30.698369  31.105935  30.683812  31.084099  70761600
2010-01-05  31.229652  31.418877  31.120481  31.309710  50196300
2010-01-06  31.353375  31.506211  31.302427  31.375208  50670000
2010-01-07  31.185988  31.280602  31.018596  31.193268  41803700
2010-01-08  31.207826  31.455276  31.105935  31.440720  41118100

Tail:
                 open       high        low      close    volume
date
2025-05-27  46.070000  46.180000  45.970001  46.119999  26278900
2025-05-28  46.000000  46.020000  45.869999  45.910000  26970500
2025-05-29  46.320000  46.340000  45.930000  46.080002  24292400
2025-05-30  45.660000  45.660000  45.230000  45.520000  42291600
2025-06-02  45.689999  45.869999  45.520000  45.849998  20576500

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-01-04 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0

In [4]:
ticker_to_check = "TSLA"
price_file = os.path.join(PRICE_DATA_PATH, f"{ticker_to_check}.parquet")
sentiment_file = os.path.join(SENTIMENT_DATA_PATH, f"{ticker_to_check}_sentiment.parquet")

inspect_parquet_file(price_file)
inspect_parquet_file(sentiment_file)

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\TSLA.parquet ---
Shape: (3755, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3755 entries, 2010-06-29 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3755 non-null   float64
 1   high    3755 non-null   float64
 2   low     3755 non-null   float64
 3   close   3755 non-null   float64
 4   volume  3755 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 176.0 KB

Head:
                open      high       low     close     volume
date
2010-06-29  1.266667  1.666667  1.169333  1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000  103003500

Tail:
                  open        high         low       close     volume
date
2025-05-27  347.350006  363.790009  347.320007  362.890015  120146400
2025-05-28  364.839996  365.000000  355.910004  356.899994   91404300
2025-05-29  365.290009  367.709991  356.000000  358.429993   88545700
2025-05-30  355.519989  363.679993  345.290009  346.459991  123474900
2025-06-02  343.500000  348.019989  333.329987  342.690002   81873800

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-06-29 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
File not found: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\sentiment_data\TSLA_sentiment.parquet

In [5]:
inspect_ticker_data('SXR8.DE')

========== Fundamentals  balance_sheets (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\balance_sheets) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\balance_sheets\SXR8.DE_balance_annual_annual.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Fundamentals  cash_flows (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\cash_flows) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\cash_flows\SXR8.DE_cashflow_annual_annual.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Fundamentals  dividends (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\dividends) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\dividends\SXR8.DE_dividends_historical_allperiods.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Fundamentals  etf_data (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\etf_data) ==========
No files matching '*SXR8.DE*.parquet' in c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\etf_data

========== Fundamentals  income_statements (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\income_statements) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\income_statements\SXR8.DE_income_annual_annual.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Fundamentals  key_metrics (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\key_metrics) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\key_metrics\SXR8.DE_keymetrics_annual_annual.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Fundamentals  profile (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\profile) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\profile\SXR8.DE_profile_allperiods.parquet ---
Shape: (1, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symbol          1 non-null      object
 1   name            1 non-null      object
 2   stock_exchange  1 non-null      object
 3   issue_type      1 non-null      object
 4   currency        1 non-null      object
dtypes: object(5)
memory usage: 48.0+ bytes

Head:
    symbol                                      name stock_exchange  \
0  SXR8.DE  iShares Core S&P 500 UCITS ETF USD (Acc)            GER

  issue_type currency
0        ETF      EUR

Tail:
    symbol                                      name stock_exchange  \
0  SXR8.DE  iShares Core S&P 500 UCITS ETF USD (Acc)            GER

  issue_type currency
0        ETF      EUR

Index is not a DatetimeIndex. Type: <class 'pandas.core.indexes.base.Index'>

Missing Values per Column:
symbol            0
name              0
stock_exchange    0
issue_type        0
currency          0
dtype: int64
--------------------------------------------------

========== Fundamentals  ratios (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\ratios) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\fundamentals_data\ratios\SXR8.DE_ratios_annual_annual.parquet ---
Shape: (0, 0)
DataFrame is empty.
--------------------------------------------------

========== Price Data (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data) ==========

--- Inspecting: c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\price_data\SXR8.DE.parquet ---
Shape: (3405, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3405 entries, 2010-05-31 to 2025-06-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3405 non-null   float64
 1   high    3405 non-null   float64
 2   low     3405 non-null   float64
 3   close   3405 non-null   float64
 4   volume  3405 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 159.6 KB

Head:
                 open       high        low      close  volume
date
2010-05-31  93.300003  93.300003  92.790001  92.790001     300
2010-06-07  90.470001  90.470001  90.160004  90.160004      35
2010-06-08  89.050003  89.379997  89.050003  89.379997     130
2010-06-29  90.230003  90.230003  90.230003  90.230003      16
2010-07-06  86.989998  86.989998  86.989998  86.989998      10

Tail:
                  open        high         low       close  volume
date
2025-05-27  550.179993  554.539978  548.640015  554.479980   17857
2025-05-28  556.979980  559.640015  554.739990  556.739990   36747
2025-05-29  564.239990  566.520020  553.140015  553.659973   25416
2025-05-30  554.119995  555.919983  550.619995  553.320007   23678
2025-06-02  549.280029  551.719971  546.000000  549.760010   47471

Index Details:
  Index Name: date
  Index Dtype: datetime64[ns]
  Is Monotonic Increasing: True
  Min Date: 2010-05-31 00:00:00
  Max Date: 2025-06-02 00:00:00

Missing Values per Column:
open      0
high      0
low       0
close     0
volume    0
dtype: int64
--------------------------------------------------

========== Sentiment Data (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\sentiment_data) ==========
No files matching '*SXR8.DE*.parquet' in c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\sentiment_data

========== Trends Data (c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\trends_data) ==========
No files matching '*SXR8.DE*.parquet' in c:\Users\ag\alvaro\git\Stocks\stocks_workspace\project_data\trends_data

In [6]:
build_paths_to_check()

TypeError: build_paths_to_check() missing 1 required positional argument: 'project_root'

In [13]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

from openbb import obb
import os

# --- Load API Keys from config.py and set environment variables if needed ---
import sys
import os

#sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))
# --- Load FMP API Key from config.py and set it for OpenBB SDK ---
FMP_API_KEY_FROM_CONFIG = None
try:
    from config.config import FMP_API_KEY
    if FMP_API_KEY and not FMP_API_KEY.startswith("YOUR_"): # Basic check for placeholder
        FMP_API_KEY_FROM_CONFIG = FMP_API_KEY
except ImportError:
    print("INFO: config/config.py not found or FMP_API_KEY not present in it.")

from data.openbb_data_extract import *

INFO: Successfully set obb.user.credentials.fmp_api_key from config.py (starts with: 49cf...).

In [14]:
obb_get_company_profile("AAPL", provider='yfinance')

Fetching company profile for AAPL (Provider: yfinance)

,symbol,name,stock_exchange,long_description,company_url,business_phone_no,hq_address1,hq_address_city,hq_address_postal_code,hq_state,hq_country,employees,sector,industry_category,issue_type,currency,market_cap,shares_outstanding,shares_float,shares_implied_outstanding,shares_short,dividend_yield,beta
0,AAPL,Apple Inc.,NMS,"Apple Inc. designs, manufactures, and markets ...",https://www.apple.com,(408) 996-1010,One Apple Park Way,Cupertino,95014,CA,United States,164000,Technology,Consumer Electronics,EQUITY,USD,3036000026624,14935799808,14911480604,14970900480,105169332,0.51,1.211

In [15]:
obb_get_financial_ratios("AAPL", period="annual", limit=5, provider='fmp')

Fetching financial ratios for AAPL (Period: annual, Limit: 5, Provider: fmp)

,period_ending,fiscal_period,fiscal_year,current_ratio,quick_ratio,cash_ratio,days_of_sales_outstanding,days_of_inventory_outstanding,operating_cycle,days_of_payables_outstanding,cash_conversion_cycle,gross_profit_margin,operating_profit_margin,pretax_profit_margin,net_profit_margin,effective_tax_rate,return_on_assets,return_on_equity,return_on_capital_employed,net_income_per_ebt,ebt_per_ebit,ebit_per_revenue,debt_ratio,debt_equity_ratio,long_term_debt_to_capitalization,total_debt_to_capitalization,cash_flow_to_debt_ratio,company_equity_multiplier,receivables_turnover,payables_turnover,inventory_turnover,fixed_asset_turnover,asset_turnover,operating_cash_flow_per_share,free_cash_flow_per_share,cash_per_share,payout_ratio,operating_cash_flow_sales_ratio,free_cash_flow_operating_cash_flow_ratio,cash_flow_coverage_ratios,short_term_coverage_ratios,capital_expenditure_coverage_ratio,dividend_paid_and_capex_coverage_ratio,dividend_payout_ratio,price_book_value_ratio,price_to_book_ratio,price_to_sales_ratio,price_earnings_ratio,price_to_free_cash_flows_ratio,price_to_operating_cash_flows_ratio,price_cash_flow_ratio,price_earnings_to_growth_ratio,price_sales_ratio,dividend_yield,enterprise_value_multiple,price_fair_value,interest_coverage
0,2024-09-28,FY,2024,0.867313,0.826007,0.169753,61.832560,12.642571,74.475130,119.658477,-45.183347,0.462063,0.315102,0.315790,0.239713,0.240912,0.256825,1.645935,0.653361,0.759088,1.002183,0.315102,0.292150,1.872327,0.600911,0.651850,1.109023,6.408780,5.903039,3.050348,28.870711,8.560311,1.071387,7.706965,7.091276,4.247388,0.162520,0.302413,0.920113,1.109023,5.663777,12.517625,4.791297,0.162520,61.372438,61.372438,8.938229,37.287278,32.122569,29.556381,29.556381,-45.937927,8.938229,0.004359,26.524727,61.372438,NaN
1,2023-09-30,FY,2023,0.988012,0.944442,0.206217,58.075649,10.791292,68.866941,106.721468,-37.854527,0.441311,0.298214,0.296740,0.253062,0.147192,0.275098,1.560760,0.551446,0.852808,0.995057,0.298214,0.315069,1.787533,0.605239,0.641260,0.995094,5.673462,6.284906,3.420118,33.823567,7.048790,1.087077,7.021175,6.325110,3.909686,0.154905,0.288409,0.900862,0.995094,6.993294,10.086960,4.254272,0.154905,43.374791,43.374791,7.032808,27.790812,27.068302,24.384808,24.384808,170.913493,7.032808,0.005574,22.068771,43.374791,29.062039
2,2022-09-24,FY,2022,0.879356,0.847235,0.153563,56.400205,8.075698,64.475903,104.685277,-40.209374,0.433096,0.302887,0.302040,0.253096,0.162045,0.282924,1.969589,0.600871,0.837955,0.997204,0.302887,0.375558,2.614462,0.661354,0.723334,0.922034,6.961537,6.471608,3.486641,45.197331,7.506148,1.117852,7.532763,6.872426,2.978793,0.148703,0.309770,0.912338,0.922034,5.786405,11.407452,4.781048,0.148703,48.140340,48.140340,6.186138,24.441824,21.888924,19.970097,19.970097,2.887190,6.186138,0.006084,19.520314,48.140340,40.749574
3,2021-09-25,FY,2021,1.074553,1.022115,0.278449,51.390969,11.276593,62.667561,93.851071,-31.183510,0.417794,0.297824,0.298529,0.258818,0.133023,0.269742,1.500713,0.483099,0.866977,1.002368,0.297824,0.388949,2.163925,0.633615,0.683937,0.762060,5.563512,7.102415,3.889140,32.367933,7.386214,1.042208,6.229346,5.565624,3.750553,0.152799,0.284399,0.893452,0.762060,6.663550,9.385476,4.071619,0.152799,38.892865,38.892865,6.707591,25.916254,26.397759,23.585141,23.585141,0.363486,6.707591,0.005896,20.752119,38.892865,41.190548
4,2020-09-26,FY,2020,1.363604,1.325072,0.360710,49.787534,8.741883,58.529418,91.048190,-32.518772,0.382332,0.241473,0.244398,0.209136,0.144282,0.177256,0.878664,0.303383,0.855718,1.012114,0.241473,0.377532,1.871440,0.601606,0.651743,0.659759,4.957039,7.331152,4.008866,41.753016,6.055122,0.847562,4.649230,4.228014,5.241031,0.245267,0.293878,0.909401,0.659759,5.859104,11.037625,3.771576,0.245267,29.818270,29.818270,7.097229,33.935934,26.556204,24.150233,24.150233,3.170889,7.097229,0.007227,25.087113,29.818270,23.072746

In [16]:
obb_get_financial_ratios("AAPL", period="annual", limit=25, provider='fmp')

Fetching financial ratios for AAPL (Period: annual, Limit: 25, Provider: fmp)

,period_ending,fiscal_period,fiscal_year,current_ratio,quick_ratio,cash_ratio,days_of_sales_outstanding,days_of_inventory_outstanding,operating_cycle,days_of_payables_outstanding,cash_conversion_cycle,gross_profit_margin,operating_profit_margin,pretax_profit_margin,net_profit_margin,effective_tax_rate,return_on_assets,return_on_equity,return_on_capital_employed,net_income_per_ebt,ebt_per_ebit,ebit_per_revenue,debt_ratio,debt_equity_ratio,long_term_debt_to_capitalization,total_debt_to_capitalization,cash_flow_to_debt_ratio,company_equity_multiplier,receivables_turnover,payables_turnover,inventory_turnover,fixed_asset_turnover,asset_turnover,operating_cash_flow_per_share,free_cash_flow_per_share,cash_per_share,payout_ratio,operating_cash_flow_sales_ratio,free_cash_flow_operating_cash_flow_ratio,cash_flow_coverage_ratios,short_term_coverage_ratios,capital_expenditure_coverage_ratio,dividend_paid_and_capex_coverage_ratio,dividend_payout_ratio,price_book_value_ratio,price_to_book_ratio,price_to_sales_ratio,price_earnings_ratio,price_to_free_cash_flows_ratio,price_to_operating_cash_flows_ratio,price_cash_flow_ratio,price_earnings_to_growth_ratio,price_sales_ratio,dividend_yield,enterprise_value_multiple,price_fair_value,interest_coverage
0,2024-09-28,FY,2024,0.867313,0.826007,0.169753,61.832560,12.642571,74.475130,119.658477,-45.183347,0.462063,0.315102,0.315790,0.239713,0.240912,0.256825,1.645935,0.653361,0.759088,1.002183,0.315102,0.292150,1.872327,0.600911,0.651850,1.109023,6.408780,5.903039,3.050348,28.870711,8.560311,1.071387,7.706965,7.091276,4.247388,0.162520,0.302413,0.920113,1.109023,5.663777,12.517625,4.791297,0.162520,61.372438,61.372438,8.938229,37.287278,32.122569,29.556381,29.556381,-45.937927,8.938229,0.004359,26.524727,61.372438,NaN
1,2023-09-30,FY,2023,0.988012,0.944442,0.206217,58.075649,10.791292,68.866941,106.721468,-37.854527,0.441311,0.298214,0.296740,0.253062,0.147192,0.275098,1.560760,0.551446,0.852808,0.995057,0.298214,0.315069,1.787533,0.605239,0.641260,0.995094,5.673462,6.284906,3.420118,33.823567,7.048790,1.087077,7.021175,6.325110,3.909686,0.154905,0.288409,0.900862,0.995094,6.993294,10.086960,4.254272,0.154905,43.374791,43.374791,7.032808,27.790812,27.068302,24.384808,24.384808,170.913493,7.032808,0.005574,22.068771,43.374791,29.062039
2,2022-09-24,FY,2022,0.879356,0.847235,0.153563,56.400205,8.075698,64.475903,104.685277,-40.209374,0.433096,0.302887,0.302040,0.253096,0.162045,0.282924,1.969589,0.600871,0.837955,0.997204,0.302887,0.375558,2.614462,0.661354,0.723334,0.922034,6.961537,6.471608,3.486641,45.197331,7.506148,1.117852,7.532763,6.872426,2.978793,0.148703,0.309770,0.912338,0.922034,5.786405,11.407452,4.781048,0.148703,48.140340,48.140340,6.186138,24.441824,21.888924,19.970097,19.970097,2.887190,6.186138,0.006084,19.520314,48.140340,40.749574
3,2021-09-25,FY,2021,1.074553,1.022115,0.278449,51.390969,11.276593,62.667561,93.851071,-31.183510,0.417794,0.297824,0.298529,0.258818,0.133023,0.269742,1.500713,0.483099,0.866977,1.002368,0.297824,0.388949,2.163925,0.633615,0.683937,0.762060,5.563512,7.102415,3.889140,32.367933,7.386214,1.042208,6.229346,5.565624,3.750553,0.152799,0.284399,0.893452,0.762060,6.663550,9.385476,4.071619,0.152799,38.892865,38.892865,6.707591,25.916254,26.397759,23.585141,23.585141,0.363486,6.707591,0.005896,20.752119,38.892865,41.190548
4,2020-09-26,FY,2020,1.363604,1.325072,0.360710,49.787534,8.741883,58.529418,91.048190,-32.518772,0.382332,0.241473,0.244398,0.209136,0.144282,0.177256,0.878664,0.303383,0.855718,1.012114,0.241473,0.377532,1.871440,0.601606,0.651743,0.659759,4.957039,7.331152,4.008866,41.753016,6.055122,0.847562,4.649230,4.228014,5.241031,0.245267,0.293878,0.909401,0.659759,5.859104,11.037625,3.771576,0.245267,29.818270,29.818270,7.097229,33.935934,26.556204,24.150233,24.150233,3.170889,7.097229,0.007227,25.087113,29.818270,23.072746

In [17]:
obb_get_income_statement("AAPL", period="annual", limit=5, provider='yfinance')

Fetching income statement for AAPL (Period: annual, Limit: 5, Provider: yfinance)

,period_ending,operating_revenue,total_revenue,cost_of_revenue,gross_profit,selling_general_and_admin_expense,research_and_development_expense,operating_expense,operating_income,other_non_operating_income_expenses,other_income_expense,total_pre_tax_income,tax_provision,net_income_continuous_operations,net_income_including_noncontrolling_interests,net_income,net_income_attributable_to_common_shareholders,diluted_ni_availto_com_stockholders,basic_earnings_per_share,diluted_earnings_per_share,weighted_average_basic_shares_outstanding,weighted_average_diluted_shares_outstanding,total_operating_income_as_reported,total_expenses,net_income_from_continuing_and_discontinued_operation,normalized_income,ebit,ebitda,reconciled_cost_of_revenue,reconciled_depreciation,net_income_from_continuing_operation_net_minority_interest,normalized_ebitda,tax_rate_for_calcs,tax_effect_of_unusual_items,interest_income_non_operating,interest_expense_non_operating,net_non_operating_interest_income_expense,interest_income,interest_expense,net_interest_income
0,2024-09-30,3.910350e+11,3.910350e+11,2.103520e+11,1.806830e+11,2.609700e+10,3.137000e+10,5.746700e+10,1.232160e+11,269000000.0,269000000.0,1.234850e+11,2.974900e+10,9.373600e+10,9.373600e+10,9.373600e+10,9.373600e+10,9.373600e+10,6.11,6.08,1.534378e+10,1.540810e+10,1.232160e+11,2.678190e+11,9.373600e+10,9.373600e+10,1.232160e+11,1.346610e+11,2.103520e+11,1.144500e+10,9.373600e+10,1.346610e+11,0.241,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-09-30,3.832850e+11,3.832850e+11,2.141370e+11,1.691480e+11,2.493200e+10,2.991500e+10,5.484700e+10,1.143010e+11,-565000000.0,-565000000.0,1.137360e+11,1.674100e+10,9.699500e+10,9.699500e+10,9.699500e+10,9.699500e+10,9.699500e+10,6.16,6.13,1.574423e+10,1.581255e+10,1.143010e+11,2.689840e+11,9.699500e+10,9.699500e+10,1.143010e+11,1.258200e+11,2.141370e+11,1.151900e+10,9.699500e+10,1.258200e+11,0.147,0.0,3.750000e+09,3.933000e+09,-183000000.0,3.750000e+09,3.933000e+09,-183000000.0
2,2022-09-30,3.943280e+11,3.943280e+11,2.235460e+11,1.707820e+11,2.509400e+10,2.625100e+10,5.134500e+10,1.194370e+11,-334000000.0,-334000000.0,1.191030e+11,1.930000e+10,9.980300e+10,9.980300e+10,9.980300e+10,9.980300e+10,9.980300e+10,6.15,6.11,1.621596e+10,1.632582e+10,1.194370e+11,2.748910e+11,9.980300e+10,9.980300e+10,1.194370e+11,1.305410e+11,2.235460e+11,1.110400e+10,9.980300e+10,1.305410e+11,0.162,0.0,2.825000e+09,2.931000e+09,-106000000.0,2.825000e+09,2.931000e+09,-106000000.0
3,2021-09-30,3.658170e+11,3.658170e+11,2.129810e+11,1.528360e+11,2.197300e+10,2.191400e+10,4.388700e+10,1.089490e+11,60000000.0,60000000.0,1.092070e+11,1.452700e+10,9.468000e+10,9.468000e+10,9.468000e+10,9.468000e+10,9.468000e+10,5.67,5.61,1.670127e+10,1.686492e+10,1.089490e+11,2.568680e+11,9.468000e+10,9.468000e+10,1.118520e+11,1.231360e+11,2.129810e+11,1.128400e+10,9.468000e+10,1.231360e+11,0.133,0.0,2.843000e+09,2.645000e+09,198000000.0,2.843000e+09,2.645000e+09,198000000.0
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.763000e+09,2.873000e+09,890000000.0,3.763000e+09,2.873000e+09,890000000.0

In [18]:
obb_get_dividends("AAPL", provider='yfinance')

Fetching dividends for AAPL (Provider: yfinance)
Error fetching dividends for AAPL with yfinance: 'ROUTER_equity_calendar' object has no attribute 'dividends'

Empty DataFrame
Columns: []
Index: []

In [19]:
obb_get_cash_flow("AAPL", provider='yfinance', limit=5)

Fetching cash flow for AAPL (Period: annual, Limit: 5, Provider: yfinance)

,period_ending,net_income_from_continuing_operations,depreciation_and_amortization,depreciation_amortization_depletion,stock_based_compensation,other_non_cash_items,changes_in_account_receivables,change_in_receivables,change_in_inventory,change_in_account_payable,change_in_payable,change_in_payables_and_accrued_expense,change_in_other_current_assets,change_in_other_current_liabilities,change_in_working_capital,cash_flow_from_continuing_operating_activities,operating_cash_flow,investments_in_property_plant_and_equipment,net_ppe_purchase_and_sale,purchase_of_investment,sale_of_investment,net_investment_purchase_and_sale,net_other_investing_changes,cash_flow_from_continuing_investing_activities,investing_cash_flow,long_term_debt_issuance,long_term_debt_payments,net_long_term_debt_issuance,net_short_term_debt_issuance,net_issuance_payments_of_debt,repurchase_of_common_equity,net_common_stock_issuance,common_stock_dividend_paid,cash_dividends_paid,net_other_financing_charges,cash_flow_from_continuing_financing_activities,financing_cash_flow,net_change_in_cash_and_equivalents,beginning_cash_position,end_cash_position,income_tax_paid_supplemental_data,capital_expenditure,issuance_of_debt,repayment_of_debt,repurchase_of_capital_stock,free_cash_flow,interest_paid_supplemental_data,deferred_income_tax,deferred_tax,change_in_other_working_capital,purchase_of_business,net_business_purchase_and_sale,issuance_of_common_equity,issuance_of_capital_stock
0,2024-09-30,9.373600e+10,1.144500e+10,1.144500e+10,1.168800e+10,-2.266000e+09,-3.788000e+09,-5.144000e+09,-1.046000e+09,6.020000e+09,6.020000e+09,6.020000e+09,-1.173100e+10,1.555200e+10,3.651000e+09,1.182540e+11,1.182540e+11,-9.447000e+09,-9.447000e+09,-4.865600e+10,6.234600e+10,1.369000e+10,-1.308000e+09,2.935000e+09,2.935000e+09,0.000000e+00,-9.958000e+09,-9.958000e+09,3.960000e+09,-5.998000e+09,-9.494900e+10,-9.494900e+10,-1.523400e+10,-1.523400e+10,-5.802000e+09,-1.219830e+11,-1.219830e+11,-7.940000e+08,3.073700e+10,2.994300e+10,2.610200e+10,-9.447000e+09,0.000000e+00,-9.958000e+09,-9.494900e+10,1.088070e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-09-30,9.699500e+10,1.151900e+10,1.151900e+10,1.083300e+10,-2.227000e+09,-1.688000e+09,-4.170000e+08,-1.618000e+09,-1.889000e+09,-1.889000e+09,-1.889000e+09,-5.684000e+09,3.031000e+09,-6.577000e+09,1.105430e+11,1.105430e+11,-1.095900e+10,-1.095900e+10,-2.951300e+10,4.551400e+10,1.600100e+10,-1.337000e+09,3.705000e+09,3.705000e+09,5.228000e+09,-1.115100e+10,-5.923000e+09,-3.978000e+09,-9.901000e+09,-7.755000e+10,-7.755000e+10,-1.502500e+10,-1.502500e+10,-6.012000e+09,-1.084880e+11,-1.084880e+11,5.760000e+09,2.497700e+10,3.073700e+10,1.867900e+10,-1.095900e+10,5.228000e+09,-1.115100e+10,-7.755000e+10,9.958400e+10,3.803000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-30,9.980300e+10,1.110400e+10,1.110400e+10,9.038000e+09,1.006000e+09,-1.823000e+09,-9.343000e+09,1.484000e+09,9.448000e+09,9.448000e+09,9.448000e+09,-6.499000e+09,6.110000e+09,1.200000e+09,1.221510e+11,1.221510e+11,-1.070800e+10,-1.070800e+10,-7.692300e+10,6.736300e+10,-9.560000e+09,-2.086000e+09,-2.235400e+10,-2.235400e+10,5.465000e+09,-9.543000e+09,-4.078000e+09,3.955000e+09,-1.230000e+08,-8.940200e+10,-8.940200e+10,-1.484100e+10,-1.484100e+10,-6.383000e+09,-1.107490e+11,-1.107490e+11,-1.095200e+10,3.592900e+10,2.497700e+10,1.957300e+10,-1.070800e+10,5.465000e+09,-9.543000e+09,-8.940200e+10,1.114430e+11,2.865000e+09,8.950000e+08,8.950000e+08,4.780000e+08,-3.060000e+08,-3.060000e+08,NaN,NaN
3,2021-09-30,9.468000e+10,1.128400e+10,1.128400e+10,7.906000e+09,-4.921000e+09,-1.012500e+10,-1.402800e+10,-2.642000e+09,1.232600e+10,1.232600e+10,1.232600e+10,-8.042000e+09,7.475000e+09,-4.911000e+09,1.040380e+11,1.040380e+11,-1.108500e+10,-1.108500e+10,-1.095580e+11,1.064830e+11,-3.075000e+09,-3.850000e+08,-1.454500e+10,-1.454500e+10,2.039300e+10,-8.750000e+09,1.164300e+10,1.022000e+09,1.266500e+10,-8.597100e+10,-8.597100e+10,-1.446700e+10,-1.446700e+10,-5.580000e+09,-9.335300e+10,-9.335300e+10,-3.860000e+09,3.978900e+10,3.592900e+10,2.538500e+10,-1.108500e+10,2.039300e+10,-8.750000e+09,-8.597100e+10,9.295300e+10,2.687000e+09,-4.774000e+09,-4.774000e+09,1.676000e+09,-3.300000e+07,-3.300000e+07,1.105000e+09,1.105000e+09
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.002000e+09,-2.150000e+08,-2.150000e+08,2.081000e+09,-1.524000e+09,-1.524000e+09,8.800000e+08,8.800000e+08

In [20]:
obb_get_analyst_estimates("AAPL", provider='yfinance')

Fetching analyst estimates for AAPL (Provider: yfinance)

  symbol  target_high  target_low  target_consensus  target_median recommendation  recommendation_mean  number_of_analysts  current_price currency
0   AAPL        300.0      170.62         228.75928          230.0            buy              2.08696                  41         203.27      USD

In [21]:
obb_get_insider_trading("AAPL", limit=1, provider='sec')

Fetching insider trading for AAPL (Provider: sec)

Found 1 total filings and 0 uncached entries to download, estimated download time: 0 seconds.

,symbol,company_cik,transaction_date,owner_cik,owner_name,owner_title,transaction_type,acquisition_or_disposition,security_type,securities_owned,securities_transacted,transaction_price,filing_url,company_name,form,director,officer,ten_percent_owner,other,ownership_type
filing_date,,,,,,,,,,,,,,,,,,,,
2025-05-14,AAPL,0000320193,2025-05-12,0001631982,KONDO CHRIS,Principal Accounting Officer,Open market or private sale of non-derivative ...,Disposition,Common Stock,15533.0,4486.0,208.1933,https://www.sec.gov/Archives/edgar/data/320193...,Apple Inc.,4,False,True,False,False,Direct

In [22]:
# Company profile:
profile_df = obb_get_company_profile("AAPL", provider='yfinance')

# Market snapshot:
snapshot_df = obb_get_market_snapshot("MSFT", provider='fmp')

# Key metrics (annual):
metrics_df = obb_get_key_metrics("GOOGL", provider='yfinance')

# Valuation multiples:
multiples_df = obb_get_valuation_multiples("TSLA")

# Dividends history:
div_df = obb_get_dividends("KO", provider='yfinance')

# Upcoming earnings (US):
earnings_df = obb_get_earnings_calendar("us")

# ETF info (e.g. iShares Core S&P 500 UCITS ETF on LSE):
etf_info_df = obb_get_etf_info("IUSG.L")

# ETF holdings:
etf_holdings_df = obb_get_etf_holdings("VWRL.L")

# ETF country exposure:
etf_countries_df = obb_get_etf_country_exposure("EUNL.DE")

# ETF sector exposure:
etf_sectors_df = obb_get_etf_sector_exposure("EUNL.DE")

# ETF historical price:
etf_price_df = obb_get_etf_historical_price("SPY", start_date="2023-01-01", end_date="2024-12-31")

Fetching company profile for AAPL (Provider: yfinance)
Fetching market snapshot for MSFT (Provider: fmp)
Error fetching market snapshot for MSFT:
[Error] -> Unauthorized FMP request -> Exclusive Endpoint : This endpoint is not available under your current subscription agreement, please visit our subscription page to upgrade your plan or contact us at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching key metrics for GOOGL (Period: annual, Provider: yfinance)
Fetching valuation multiples for TSLA (Period: annual, Provider: fmp)
Fetching dividends for KO (Provider: yfinance)
Error fetching dividends for KO with yfinance: 'ROUTER_equity_calendar' object has no attribute 'dividends'
Fetching upcoming earnings calendar for country: us
Error fetching earnings calendar for us: 'ROUTER_equity_calendar' object is not callable
Fetching ETF info for IUSG.L
Error fetching ETF info for IUSG.L:
[Error] -> Unauthorized FMP request -> Exclusive Endpoint : This endpoint is not available under your current subscription agreement, please visit our subscription page to upgrade your plan or contact us at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching ETF holdings for VWRL.L
Error fetching ETF holdings for VWRL.L:
[Error] -> Unauthorized FMP request -> Free plan is limited to US stocks only please visit our subscription page to upgrade your plan at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching ETF country exposure for EUNL.DE
Error fetching ETF country exposure for EUNL.DE:
[Error] -> Unauthorized FMP request -> Free plan is limited to US stocks only please visit our subscription page to upgrade your plan at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching ETF sector exposure for EUNL.DE
Error fetching ETF sector exposure for EUNL.DE:
[Error] -> Unauthorized FMP request -> Free plan is limited to US stocks only please visit our subscription page to upgrade your plan at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching historical price for ETF SPY from 2023-01-01 to 2024-12-31 (Interval: 1d, Provider: yfinance)

In [23]:
profile_df

,symbol,name,stock_exchange,long_description,company_url,business_phone_no,hq_address1,hq_address_city,hq_address_postal_code,hq_state,hq_country,employees,sector,industry_category,issue_type,currency,market_cap,shares_outstanding,shares_float,shares_implied_outstanding,shares_short,dividend_yield,beta
0,AAPL,Apple Inc.,NMS,"Apple Inc. designs, manufactures, and markets ...",https://www.apple.com,(408) 996-1010,One Apple Park Way,Cupertino,95014,CA,United States,164000,Technology,Consumer Electronics,EQUITY,USD,3036000026624,14935799808,14911480604,14970900480,105169332,0.51,1.211

In [24]:
snapshot_df

Empty DataFrame
Columns: []
Index: []

In [25]:
metrics_df

,symbol,market_cap,pe_ratio,forward_pe,peg_ratio_ttm,enterprise_to_ebitda,earnings_growth,earnings_growth_quarterly,revenue_per_share,revenue_growth,enterprise_to_revenue,quick_ratio,current_ratio,debt_to_equity,gross_margin,operating_margin,ebitda_margin,profit_margin,return_on_assets,return_on_equity,dividend_yield,payout_ratio,book_value,price_to_book,enterprise_value,overall_risk,audit_risk,board_risk,compensation_risk,shareholder_rights_risk,beta,price_return_1y,currency
0,GOOGL,2.024903e+12,18.546875,18.546875,1.2736,14.368,0.488,0.46,29.338,0.12,5.42,1.597,1.768,8.254,0.58591,0.33918,0.37726,0.30857,0.16897,0.34789,0.51,0.0893,28.405,5.850378,1949764288512,10.0,7.0,8.0,10.0,10.0,1.014,-0.05262,USD

In [26]:
multiples_df

,symbol,revenue_per_share_ttm,net_income_per_share_ttm,operating_cash_flow_per_share_ttm,free_cash_flow_per_share_ttm,cash_per_share_ttm,book_value_per_share_ttm,tangible_book_value_per_share_ttm,shareholders_equity_per_share_ttm,interest_debt_per_share_ttm,market_cap_ttm,enterprise_value_ttm,pe_ratio_ttm,price_to_sales_ratio_ttm,pocf_ratio_ttm,pfcf_ratio_ttm,pb_ratio_ttm,ptb_ratio_ttm,ev_to_sales_ttm,enterprise_value_over_ebitda_ttm,ev_to_operating_cash_flow_ttm,ev_to_free_cash_flow_ttm,earnings_yield_ttm,free_cash_flow_yield_ttm,debt_to_equity_ttm,debt_to_assets_ttm,net_debt_to_ebitda_ttm,current_ratio_ttm,interest_coverage_ttm,income_quality_ttm,dividend_yield_ttm,dividend_yield_percentage_ttm,dividend_to_market_cap_ttm,dividend_per_share_ttm,payout_ratio_ttm,sales_general_and_administrative_to_revenue_ttm,research_and_development_to_revenue_ttm,intangibles_to_total_assets_ttm,capex_to_operating_cash_flow_ttm,capex_to_revenue_ttm,capex_to_depreciation_ttm,stock_based_compensation_to_revenue_ttm,graham_number_ttm,roic_ttm,return_on_tangible_assets_ttm,graham_net_net_ttm,working_capital_ttm,tangible_asset_value_ttm,net_current_asset_value_ttm,invested_capital_ttm,average_receivables_ttm,average_payables_ttm,average_inventory_ttm,days_sales_outstanding_ttm,days_payables_outstanding_ttm,days_of_inventory_on_hand_ttm,receivables_turnover_ttm,payables_turnover_ttm,inventory_turnover_ttm,roe_ttm,capex_per_share_ttm
0,TSLA,29.746426,1.99192,5.232132,2.106899,11.496582,23.436296,23.314481,23.198571,4.192977,1.107351e+12,1.104127e+12,172.833207,11.568168,65.799184,163.326156,14.840139,14.840139,11.534488,79.092216,65.577439,162.85064,0.005786,0.006123,0.175854,0.104931,-0.230946,1.996068,17.271233,2.629959,0.0,0.0,0.011855,0.0,0.0,0.0,0.050123,0.003133,0.597315,0.105062,1.80589,0.021395,32.244665,0.051298,0.051396,-0.934587,2.963600e+10,7.502600e+10,9.696000e+09,8.277800e+10,4.100000e+09,1.297250e+10,1.286150e+10,14.420939,62.38394,63.47222,25.310418,5.850865,5.750547,0.090293,3.125233

In [32]:
# ETF info (e.g. iShares Core S&P 500 UCITS ETF on LSE):
etf_info_df = obb_get_etf_info("SXR8.DE", provider='yfinance')

# ETF holdings:
etf_holdings_df = obb_get_etf_holdings("SXR8.DE", provider='sec')

# ETF country exposure:
etf_countries_df = obb_get_etf_country_exposure("SXR8.DE", provider='fmp')

# ETF sector exposure:
etf_sectors_df = obb_get_etf_sector_exposure("SXR8.DE", provider='fmp')

# ETF historical price:
etf_price_df = obb_get_etf_historical_price("SXR8.DE", start_date="2023-01-01", end_date="2024-12-31", provider='yfinance')

Fetching ETF info for SXR8.DE (Provider: yfinance)
Fetching ETF holdings for SXR8.DE (Provider: sec)
Error fetching ETF holdings for SXR8.DE:
[Error] -> Fund not found for, the symbol: SXR8.DE
Fetching ETF country exposure for SXR8.DE (Provider: fmp)
Error fetching ETF country exposure for SXR8.DE:
[Error] -> Unauthorized FMP request -> Free plan is limited to US stocks only please visit our subscription page to upgrade your plan at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching ETF sector exposure for SXR8.DE (Provider: fmp)
Error fetching ETF sector exposure for SXR8.DE:
[Error] -> Unauthorized FMP request -> Free plan is limited to US stocks only please visit our subscription page to upgrade your plan at https://site.financialmodelingprep.com/developer/docs/pricing
Fetching historical price for ETF SXR8.DE from 2023-01-01 to 2024-12-31 (Interval: 1d, Provider: yfinance)

In [29]:
etf_price_df

                  open        high         low       close  volume
date
2023-01-02  375.799988  379.980011  374.970001  379.359985   22416
2023-01-03  376.410004  381.109985  373.630005  373.630005   31736
2023-01-04  374.750000  377.109985  372.989990  377.109985   23408
2023-01-05  374.660004  376.820007  373.239990  374.609985   32516
2023-01-06  374.880005  378.630005  374.500000  377.570007   31513
...                ...         ...         ...         ...     ...
2024-12-19  600.479980  605.239990  599.260010  603.760010   93786
2024-12-20  598.020020  606.419983  591.640015  606.419983   85596
2024-12-23  606.520020  607.179993  602.619995  604.799988   48164
2024-12-27  612.619995  613.239990  605.000000  607.080017   55294
2024-12-30  605.880005  607.299988  600.140015  600.780029   42396

[509 rows x 5 columns]